extends layout
block content

  div(class="container text-center")
    div(class="row ")
      h2 Welcome 
        span(id="name") !
      div(style="width: 100%; text-align: center")
        span(id="error" class="text-danger") &nbsp;

      each authenticator in authenticators
        - var image = 'img/product/' + authenticator.deviceImage;
        - var cert = authenticator.cert;
        - var isActive = authenticator.active; 

        div(class="row border mb-4")
          div(class="col-md-3 col-lg-2 my-auto")
            img(class="img-fluid", style="max-height: 100px" src=image)
          div(class="col-md-8 text-start mt-3 mb-3 my-auto")
            h4 #{authenticator.deviceName}
            | Type: #{authenticator.fmt}
            br
            | AAGUID: #{authenticator.aaguid}
            br
            | Counter: #{authenticator.counter}
            br
            | Status: 
            if !isActive
              button(
                class="btn btn-sm btn-danger"
                onclick=`updateCredentialStatus('${authenticator.credId}', true)`
              ) Deactivated

            if isActive
              button(
                class="btn btn-sm btn-success"
                onclick=`updateCredentialStatus('${authenticator.credId}', false)`
              ) Activated
          div(class="col-md-1 text-center my-auto  mt-5 pt-3 mb-4 pb-4")
            a(href=cert)
              img(src="img/certificate.png", width="50px")
          
      
      div(class="row mt-3 mb-3")
        div(class="col-sm")
          button(class="btn btn-primary btn-lg", id="registerNewButton") Register a new token
        div(class="col-sm")
          button(class="btn btn-secondary btn-lg", onclick="location.href='logout';") Logout
    


 
  div(class="container")
    div(class="row")
      h2 DON’T FORGET TO:
      a(href="https://cpl.thalesgroup.com/sites/default/files/content/brochures/field_document/2022-08/5-top-reasons-fido2-v8.pdf" target="_blank") Download the Top 5 reasons Choosing FIDO2 devices for Enterprise Authentication
      a(href="https://cpl.thalesgroup.com/access-management/authenticators/fido-devices" target="_blank") Learn more about Thales FIDO2 devices 
      a(href="https://cpl.thalesgroup.com/resources/access-management/5-reasons-consider-fido2-security-keys-infographic " target="_blank") Top 5 Reasons choosing SafeNet eToken Fusion Series
      a(href="https://cpl.thalesgroup.com/resources/access-management/enterprise-authentication-using-fido2-devices-brochure" target="_blank") FIDO2 Devices for Phishing-resistant Authentication - Brochure 
      a(href="https://cpl.thalesgroup.com/access-management/contact-us" target="_blank") Contact us 
      
  script.
    async function updateCredentialStatus(credId, newStatus) {
      try {
        const response = await fetch('/credential/status', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            credId: credId,
            active: newStatus
          })
        });
        
        const result = await response.json();
        if (result.success) {
          location.reload(); // rafraîchir la liste
        } else {
          alert("Error : " + result.error);
        }
      } catch (err) {
        alert(err);
      }
    }

    $( document ).ready(function() {
      $("#registerNewButton").click( function() { makeCredential() })
    });



